@media only screen and (max-width: 480px) {
    .sidebar > ul > li > span{
        display: none;
    }

    .sidebar .logo > h4{
        display: none;
    }

    .sidebar > ul > li > .dashIcon{
        margin-right: 0;
    }

    .sidebar{
        position: fixed;
        z-index: 11;
        height: 100vh;
        background: var(--bkg);
    }

    .component-container{
        margin-left: 5rem;
        overflow-x: auto;
        flex: 1;
    }

    .signout{
        padding: 0.5rem;
    }
    .signout > button{
        width: 4rem;
        padding: 0.4rem 0.2rem;
        font-size: 13px;
    }
}
