/* General Layout */

.login-container {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  /* background: url('soccer field.jpeg') no-repeat center center/cover; */
  background: var(--bkg);
  position: relative;
  width: 100%;
  height: 100vh;
}

/* .overlay { Not used
  position: absolute;
  background: rgba(0, 0, 0, 0.7); Dark gradient overlay 
  width: 100%;
  height: 100%;
} */

.welcome-logo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 0.5;
  text-align: center;
}

.welcome-logo > img{
  height: 20rem;
}


.login-box {
  position: relative;
  z-index: 2;
  background-color: var(--altText);
  padding: 3rem;
  border-radius: 2px;
  width: 20rem;
  text-align: center;
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); */
  flex: 0.5;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.login-box > h1 {
  color: var(--text);
  font-size: 2.8rem;
  margin-bottom: 2.5rem;
}

.login-box > p {
  color: #666;
  font-size: 16px;
  margin-bottom: 30px;
}

.input-group {
  margin-bottom: 2rem;
}


.login-button {
  background-color: var(--text);
  color: var(--altText);
}

.login-button:hover {
  background-color: #45a049;
}

.login-button{
  width: 50%;
}

.additional-options {
  margin-top: 20px;
}

.additional-options a {
  margin: 0 15px;
  color: #333;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s;
}

.additional-options a:hover {
  color: #4caf50;
}

/* Button hover soccer glow */
.login-button:hover {
  box-shadow: 0 0 20px rgba(76, 175, 79, 0.151), 0 0 40px rgba(76, 175, 80, 0.7);
}
