  
  /* Container to center the form */

  .slider{
    display: flex;
    overflow: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
  }

  .slider > div{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
  }

  .addx-form-container {
    display: flex;
    width: 100%;
    height: 100%; 

    display: flex;
    align-items: center;
    padding: 0 auto;

    background-color: var(--bkg);

    }
  
  /* Input field styling */
  .registration-form{
    /* text-align: center; */
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1.2rem;    
  }

  .add-form-container > h2{
    margin: 2rem;
  }

  .registration-form > input, select{
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 40%;
  }

  .registration-form > select{
    width: 100%;
  }
  
  .registration-form > button{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
  }

  .flagMsg{
    margin-top: 0.6rem;
    text-align: center;
  }


  /* acblls */
  .add-form-container {
    overflow: hidden; 
    box-sizing: border-box;
      width: 100%;
      z-index: 3;
      color:#000000;
      border-left: solid 1px var(--text);

  }
  
  .form-wrapperr {
    display: flex;
    transition: transform 0.5s ease-in-out; /* Slide transition */
    width: 100%; /* 3 forms */
    background-color: var(--bkg);
  }
  
  .form-step {
    width: 100%; /* Each form takes full width */
    padding: 1rem 0 0;
    box-sizing: border-box;
  }
  
  .form-step > input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .form-step > h2{
    margin-bottom: 1.5rem;
  }
  
  
  
  button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
  }


  .registration-form-wrapper{
    overflow-y: scroll;
    max-height: 80vh;
  }

  .btnsub{
    width: 100%;
    text-align: center;
  }

  .btnsub > button{
    width: 40%;
  }

  .dialogStyles{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
    height: 100vh;
  }
  
  .dialogContent{
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }